<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alumnos</title>
</head>
<body>
    <h1>Lista de Alumnos</h1>
    <a href="{{ url_for('manage_students.crear_alumno') }}">Agregar Alumno</a>
    <ul>
        {% for alumno in alumnos %}
            <li>
                {{ alumno.nombre }} - {{ alumno.matricula }}
                <a href="{{ url_for('manage_students.actualizar_alumno', id=alumno.id) }}">Editar</a>
                <a href="{{ url_for('manage_students.eliminar_alumno', id=alumno.id) }}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
