<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materias Pendientes y Sugeridas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Materias Pendientes y Sugeridas</h1>
        
        <h2>Materias Pendientes o Reprobadas</h2>
        <ul class="list-group mb-4">
            {% for materia in materias_pendientes %}
                <li class="list-group-item">{{ materia[1] }}</li>
            {% endfor %}
        </ul>

        <h2>Materias Sugeridas para el Próximo Cuatrimestre</h2>
        <ul class="list-group mb-4">
            {% for materia in materias_sugeridas %}
                <li class="list-group-item">{{ materia[1] }}</li>
            {% endfor %}
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
